@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.result-viewer {
    font-family: 'Source Code Pro', monospace;
    z-index: 10;
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    bottom: 0;
    position: absolute;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    
    > div {
        padding: 10px;
        background-color: #263238;
    }

    .heading {
        font-size: 0.8em;
        color: #90A4AE;
        margin-bottom: 5px;
    }

    .stderr {
        color: #f44336;
    }
}
