.header {
  width: 100%;
  background-color: #001419;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  align-items: center;
  z-index: 10;

  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .logo {
    margin: 0 25px 0 10px;
    display: flex;
    align-items: center;
    position: relative;

    &:hover .logo-info-container {
      pointer-events: all;
      opacity: 1;
      transform: scale(1);
      filter: blur(0px);
    }

    .logo-info-container {
      transition: all 0.2s ease;
      position: absolute;
      top: 10px;
      pointer-events: none;
      opacity: 0;
      transform: scale(1.02);
      filter: blur(5px);
      .spacer {
        height: 50px;
        background-color: transparent;
      }
    }
  }

  .share {
    margin-left: auto;
  }
}
