.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.app-container {
  margin: 0 auto;
  padding-top: 10vh;
  width: 90vw;
  max-width: 1000px;

  @media screen and (max-width: 800px) {
    margin: 0 auto;
    padding-top: 20px;
  }

  > * {
    width: 100%;
    margin-bottom: 20px;
  }

  > .controls {
    display: flex;

    > select.lang {
      width: 100%;
      margin-right: 10px;
    }

    > button.run {
      color: #03A9F4;
      background-color: transparent;
      border: none;
      font-size: 1em;
      padding: 0 15px;
      cursor: pointer;
      transition: all .15s ease;
      &:hover {
        background-color: #263238;
      }
    }
  }
}