.container {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
}

.code-editor {
  padding-top: 20px;
  height: 100%;
}

.share-input {
  width: 100%;
}

.embed-footer {
  position: absolute;
  right: 15px;
  z-index: 10;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
